* {
    margin: 0px;
    padding: 0px;
    
}

#header{
	height:92px; 
	border-bottom:1px solid #eee;
    margin-left: 20px;
    position: relative;
    
}
#header ul{padding:33px 0 0 45px;}
#header li{
	list-style:none;
	float:left;
	margin-right:50px;	
    margin-top: 30px;
}
#header li a{
	font-weight:700;
	color:#333;
    font-family: 'Franklin Gothic Medium';
	font-size:22px;	
	text-decoration:none;
	text-transform:uppercase;
	letter-spacing:1px;
    font-weight: bold;
    position: st;
}
#headerli a:hover{
	color:#000;
	cursor:pointer;
    
}

#header :hover{ 
    color: red;
}


.logo{
    float: right;
    margin-right: 40px;
    margin-top: -30px;
    font-size: 34px;
    font-weight: bold;
    font-family:Cambria;
    position: relative;

}
span{
    font-size: 50px;
    color: brown;
}
#header .active{
    color: red;
}

.container-21{
    background-color: white;
    width: 1000px;
    height: 900px;
    margin-top: 800px;
    margin-left: -50px;
    position: absolute;
    
}

.container-21 .log-head{
    font-size: 54px;
    font-family:'Gill Sans MT';
    opacity: 70%;
    color: brown;
    margin-left: 80px;
	text-align: center;
}

span{
    font-size: 62px;
    opacity: 100%;
}
.contact{
    margin-top: 120px;
    font-size: 34px;
    font-weight: bold;
    margin-top: 30px;
    text-align: center;
    opacity: 40px;
    font-family: 'Gill Sans MT';
    position: relative;
}

.fname-cu{
    font-size: 26px;
    font-family: 'Gill Sans MT';
    margin-left: 150px;
    margin-top: 60px;
    text-align: center;
    position: absolute;
    color: black;
}
.query-cu{
	font-size: 30px;
    font-family: 'Gill Sans MT';
    margin-left: 300px;
    margin-top: 280px;
    text-align: center;
    position: absolute;
    color: black;
}
.query{
	font-size: 20px;
	margin-top:330px ;
	margin-left: 90px;
}
.mob-cu{
    font-size:26px;
    font-family: 'Gill Sans MT';
    margin-left: 110px;
    margin-top: 210px;
    text-align: center;
    position: absolute;
    color: black;
}
.f-mob-cu{
    height: 32px;
    width: 400px;
    background-color: white;
    margin-left: 350px;
    margin-top: 210px;
    text-align: left;
    padding-left: 8px;
    position: absolute;
    font-size: 22px;
    color: black;
    font-family: 'Gill Sans MT';
    
}
.email-cu{
    position: absolute;
    font-size: 26px;
    font-family: 'Gill Sans MT';
    margin-top: 140px;
    margin-left: 160px;
    color: black;
}

.f-input-cu{
    height: 35px;
    width: 400px;
    background-color: white;
    margin-left: 350px;
    margin-top: 60px;
    text-align: left;
    padding-left: 8px;
    position: absolute;
    font-size: 22px;
    color: black;
    font-family: 'Gill Sans MT';
    
}

.p-input-cu{
    height: 35px;
    width: 400px;
    background-color: white;;
    margin-left: 350px;
    margin-top: 140px;
    text-align: left;
    padding-left: 8px;
    position: absolute;
    font-size: 22px;
    color: rgb(3, 3, 3);
    font-family: 'Gill Sans MT';
}

.cp-input-su{
    height: 35px;
    width: 400px;
    background-color: rgba(61, 37, 37, 0.765);
    margin-left: 350px;
    margin-top: 340px;
    text-align: left;
    padding-left: 8px;
    position: absolute;
    font-size: 22px;
    color: rgb(3, 3, 3);
    font-family: 'Gill Sans MT';
}


.border-su{
    opacity: 200%;
    border: 2px solid black;
    height: 600px;
    width: 800px;
    margin-top: 30px;
    margin-left: 130px;
    background-color: white;
    border-radius: 90px;
}

.btn-cu{
	height: 50px;
	width: 200px;
	margin-left: 300px;
	margin-top: 30px;
	font-size: 20px;
	background-color: rgb(27, 26, 26);
	color: white;
	border-radius: 10px;
}
.btn-cu:hover{
	background-color: rgb(161, 75, 75);
	color: white;
}

.map-cu{
	position: absolute;
	margin-top: 5px;
	background-color: whitesmoke;
	height: 800px;
	width: 740px;
	margin-left: 200px;
}
.border-map{
    opacity: 100%;
    border: 1px solid slategray;
    height: 750px;
    width: 1000px;
    margin-top: 30px;
    margin-left: 450px;
    background-color: white;
    border-radius: 90px;
    cursor: pointer;
}
.border-map:hover{
    
    height: 780px;
    width: 1000px;
    transition: 1.5s;
    margin-top: 10px;
    background-color: white;
    box-shadow: 10px 15px black;
    cursor: pointer;
}
.con-h1{
    font-family: 'Gill Sans MT';
    font-size: 44px;
    text-align: center;
    color: brown;
    margin-left: 20px;
    margin-top: 20px;
}

.con-h3{
    font-family: 'Gill Sans MT';
    font-size: 36px;
    text-align: center;
    margin-left: 20px;
    color: brown;
    margin-top: 15px;
}
.con-p{
    font-size: 22px;
    font-family:'Cambria';
    margin-top: 15px;
    margin-left: 20px;
    text-align: center;
    color: black;
}
.active{
    color: red;
}
.demo{
    margin-top: 850px;
    margin-left: 1000px;

}


.container-2{
    background-color: black;
    margin-top : 130px;
    height: 500px;
    width: 100%;
    position: absolute;
}
.h2-c{
    margin-top: 2290px;
    position: absolute;
    margin-left: 870px;
    font-size: 68px;
    
}
.h2-c-1{
    margin-top: 2350px;
    position: absolute;
    margin-left: 720px;
    font-size: 68px;
}
.container-2 .rows{
    margin-top: 60px;
    margin-left: 150px;
    position: absolute;
    width: 400px;
    
}

.columns{
    float: left;
    margin-top: 130px;
    position: absolute;
}
.ft-col1{
    margin-top: 200px;
    color:white;
    font-size: 22px;
    margin-top: 2px;
    list-style: none;
    text-align: left;
    text-decoration: wavy;
    line-height: 34px;
}
.ft-col1-h{
    color:white;
    font-size: 29px;
    padding-bottom: 10px;
    margin-top: 5px;
    list-style: none;
    text-align: center;
    text-decoration: wavy;
}
.container-2 .rows-2{
    margin-top: 60px;
    margin-left: 680px;
    position: absolute;
    width: 400px;
}
.columns-2{
    float: center;
    margin-top: 130px;
    position: absolute;
}
.container-2 .rows-3{
    margin-top: 60px;
    margin-left: 1100px;
    position: absolute;
    width: 400px;
}
.columns-3{
    float: center;
    margin-top: 130px;
    position: absolute;
}
.container-2 .rows-4{
    margin-top: 60px;
    margin-left: 1500px;
    position: absolute;
    width: 400px;
}
.columns-4{
    float: center;
    margin-top: 130px;
    position: absolute;
}
.cp{
    margin-top: 440px;
    color: white;
    margin-left: 700px;
}
.cp-1{
    margin-top: 90px;
    color: rgb(216, 163, 17);
    margin-left: 600px;
    font-size: 24px;
    position: absolute;
}
.ch-1{
    margin-top: 40px;
    color: white;
    margin-left: 900px;
    text-align: center;
    font-size: 28px;
    position: absolute;
}
